Repository GNOME/glib: changes, and which GitLab CI jobs are due for each by the changed paths.
All: style-check-advisory, sh-and-py-check

style-check-advisory:
  before_script:
  - rm -rf subprojects/gvdb
  - git config --global --add safe.directory "${PWD}"
  - git submodule update --init --depth 1
  variables:
    GIT_SUBMODULE_STRATEGY: none
    GIT_SUBMODULE_DEPTH: 1
  image: ${DEBIAN_IMAGE}
  stage: style-check
  allow_failure: true
  script:
  - failed=
  ...

sh-and-py-check:
  before_script:
  - rm -rf subprojects/gvdb
  - git config --global --add safe.directory "${PWD}"
  - git submodule update --init --depth 1
  variables:
    GIT_SUBMODULE_STRATEGY: none
    GIT_SUBMODULE_DEPTH: 1
    LINT_WARNINGS_ARE_ERRORS: '1'
  image: ${DEBIAN_IMAGE}
  stage: style-check
  allow_failure: false
  ...

Update Basque translation
  po/eu.po
Due: none

gthread: don't use sched_yield() in g_thread_yield()
  glib/gthread-posix.c
  meson.build
Due: style-check-advisory

build: Add variable to check if a GNU C compiler is used
  meson.build
Due: none

glib, gio tests: Apply the same rules to both gcc and clang when appropriate
  gio/tests/meson.build
  glib/tests/meson.build
Due: none

build: Add quotes to installed test variables
  gio/tests/meson.build
  girepository/tests/meson.build
  glib/tests/meson.build
Due: none

gio/tests/gsocketclient-slow: Do not hard code the pre-loaded library name
  gio/tests/meson.build
Due: none

build: Define the preload variable name and separator globally
  gio/tests/meson.build
  glib/tests/meson.build
  meson.build
Due: none

build/tests: Automatically set ASAN_OPTIONS if preloading is required
  gio/tests/meson.build
  girepository/introspection/meson.build
  girepository/tests/meson.build
  glib/tests/meson.build
  meson.build
Due: none

build: Preload sanitizer libraries before than any other library
  gio/tests/meson.build
  girepository/tests/meson.build
  glib/tests/meson.build
  meson.build
Due: none

ci: Add ASAN sanitizer job that runs on schedules
  .gitlab-ci.yml
Due: none

girepository: Disable ASAN when building our typelib
  girepository/introspection/meson.build
  meson.build
Due: none

ci/fedora.Dockerfile: Add libasan and libubsan depedencies
  .gitlab-ci/fedora.Dockerfile
Due: none

girepository: Always use currently built GLib to run g-ir-scanner
  girepository/introspection/meson.build
  meson.build
Due: none

ci/fedora.Dockerfile: Add libtsan depedencies
  .gitlab-ci/fedora.Dockerfile
Due: none

build: Mark all the failing and flacky tests with thread sanitizer
  gio/tests/meson.build
  girepository/introspection/meson.build
  glib/tests/meson.build
  gobject/tests/meson.build
  tests/meson.build
Due: none

tests: Fix unicode Turkish locale env leak
  glib/tests/unicode.c
Due: style-check-advisory

build: Do not support building with both tracing and tsan enabled
  meson.build
Due: none

ci: Disable sysprof in sanitizer tests
  .gitlab-ci.yml
Due: none

tests: Fix gdatetime localtime setup leak
  glib/tests/gdatetime.c
Due: style-check-advisory

tests: Fix mainloop source/context leak race
  glib/tests/mainloop.c
Due: style-check-advisory

girepo/tests: add platform GLib GIR deps
  girepository/tests/meson.build
Due: none

ci: Add a thread sanitizer scheduled job
  .gitlab-ci.yml
Due: none

ci: Ensure we always upload the junit files for unstable tests too
  .gitlab-ci.yml
Due: none

Update Romanian translation
  po/ro.po
Due: none

gregex: g_match_info_fetch_pos(), g_match_info_fetch() and g_match_info_fetch_all() will now work after partial matches as well
  glib/gregex.c
  glib/tests/regex.c
Due: style-check-advisory

docs + tests: fix docs and add unit test about g_try_new with zero n_structs
  glib/gmem.h
  glib/tests/mem-overflow.c
Due: style-check-advisory

CI: set msys2-clang64 as default job for merges
  .gitlab-ci.yml
  docs/supported-platforms.md
Due: none

CI: Fix msys2-mingw32 after upstream packages removal
  .gitlab-ci.yml
  .gitlab-ci/test-msys2.sh
Due: sh-and-py-check

gutf8: Eliminate redundant double-traversal in g_utf8_substring
  glib/gutf8.c
Due: style-check-advisory

docs: add missing reference to g_rc_box_new0 and g_atomic_rc_box_new0 and others in Reference Counting page
  docs/reference/glib/reference-counting.md
Due: none

fix: V-001 security vulnerability
  girepository/girnode.c
Due: style-check-advisory

fix: add buffer-length check in girnode.c
  tests/test_invariant_girnode.c
Due: style-check-advisory

gio: gmemorymonitorpsi: Check for NULL before freeing trigger
  gio/gmemorymonitorpsi.c
Due: style-check-advisory

gio: gmemorymonitordbus: Fix fallback backends can't be properly loaded when LowMemoryMonitor is unavailable
  gio/gmemorymonitordbus.c
  gio/gmemorymonitorpsi.c
Due: style-check-advisory

gio: gmemorymonitorpsi: Fix override a non-NULL GError
  gio/gmemorymonitorpsi.c
Due: style-check-advisory

gio: test: gmemory-monitor: use auto-fallback to switch the backend
  gio/tests/memory-monitor-poll.c
  gio/tests/memory-monitor-psi.c
Due: style-check-advisory

gsocket: Improve docs for g_socket_get_fd()
  gio/gsocket.c
Due: style-check-advisory

Path conditions:
  style-check-advisory: any of: **/*.c, **/*.cpp, **/*.h
  sh-and-py-check: any of: **/*.py, **/*.sh
