Repository GNOME/glib: changes, and which GitLab CI jobs are due for each by the changed paths.
All: style-check-advisory, sh-and-py-check

Path conditions:
  style-check-advisory: any of: **/*.c, **/*.cpp, **/*.h
  sh-and-py-check: any of: **/*.py, **/*.sh

gerror: Add missing introspection annotations
  glib/gerror.c
Due: style-check-advisory

Use dlopen to access environ on FreeBSD
  .gitlab-ci.yml
  docs/reference/glib/building.md
  glib/genviron.c
  glib/gspawn-posix.c
Due: style-check-advisory

gvariant: Check for overflow in g_variant_new_fixed_array()
  glib/gvariant.c
  glib/tests/gvariant.c
Due: style-check-advisory

CI: set msys2-clang64 as default job for merges
  .gitlab-ci.yml
  docs/supported-platforms.md
Due: none

CI: Fix msys2-mingw32 after upstream packages removal
  .gitlab-ci.yml
  .gitlab-ci/test-msys2.sh
Due: sh-and-py-check

gvariant: Tweak GVariantIter heap allocation casting
  glib/gvariant.c
Due: style-check-advisory

gvariant: Tweak GVariantIter heap allocation size
  glib/gvariant.c
Due: style-check-advisory

gvariant: Match allocation size of g_slice_new to g_slice_free
  glib/gvariant.c
Due: style-check-advisory

GDBusConnection: Copy entire vtables to avoid -Walloc-size warnings
  gio/gdbusconnection.c
  gio/gdbusconnection.h
Due: style-check-advisory

Update Italian translation
  po/it.po
Due: none

Update Polish translation
  po/pl.po
Due: none

Override gi-repository-2.0
  girepository/meson.build
Due: none

2.89.1
  NEWS
  meson.build
Due: none

2.88.2
  NEWS
  meson.build
Due: none

gtype: downgrade some (non-*_get_type) G_GNUC_CONST -> G_GNUC_PURE
  gobject/gtype.h
Due: style-check-advisory

gquark: Fix an incorrect G_GNUC_CONST annotation on g_quark_to_string()
  glib/gquark.h
Due: style-check-advisory

codegen: Drop an inappropriate G_GNUC_CONST from inside a code comment
  gio/gdbus-2.0/codegen/dbustypes.py
Due: sh-and-py-check

tests: Fix gi-inspect-typelib.py on Visual Studio
  girepository/tests/gi-inspect-typelib.py
  girepository/tests/meson.build
Due: sh-and-py-check

rust: Phase 0–1 — workspace, migration plan, and foundation types
  .gitignore
  .gitlab-ci.yml
  docs/rust-migration.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/glib-native/Cargo.toml
  rust/glib-native/src/bytes.rs
  rust/glib-native/src/checked.rs
  rust/glib-native/src/endian.rs
  rust/glib-native/src/lib.rs
  rust/glib-native/src/refcount.rs
Due: none

rust: Phase 2 — atomics, memory, and strings (parallel agents)
  docs/rust-migration.md
  rust/glib-native/src/atomic.rs
  rust/glib-native/src/bytes.rs
  rust/glib-native/src/gstring.rs
  rust/glib-native/src/lib.rs
  rust/glib-native/src/mem.rs
  rust/glib-native/src/strfuncs.rs
Due: none

fuzzing: Skip build if oss-fuzz and tests are both omitted
  fuzzing/meson.build
Due: none

gdbusactiongroup: Declare using G_DECLARE_FINAL_TYPE
  gio/gdbusactiongroup.c
  gio/gdbusactiongroup.h
  gio/gio-autocleanups.h
Due: style-check-advisory

gemblem: Declare using G_DECLARE_FINAL_TYPE
  gio/gemblem.c
  gio/gemblem.h
  gio/gio-autocleanups.h
Due: style-check-advisory

gmemorymonitorpsi: MEMORY_PRESSURE_WATCH and MEMORY_PRESSURE_WRITE
  gio/gmemorymonitorpsi.c
  gio/tests/memory-monitor-psi-env-set.c
  gio/tests/meson.build
Due: style-check-advisory

gdbusauth: Limit length of lines read from client
  gio/gdbusauth.c
  gio/tests/gdbus-auth.c
Due: style-check-advisory

gio: Add GNetworkMonitor impl for systemd-networkd
  gio/giomodule.c
  gio/gnetworkmonitorsystemd.c
  gio/gnetworkmonitorsystemd.h
  gio/meson.build
Due: style-check-advisory

gnetworkmonitornetlink: Stop pulling all routes
  gio/gnetworkmonitornetlink.c
  gio/gnetworkmonitornetlink.h
  gio/gnetworkmonitornm.c
  gio/tests/network-monitor.c
Due: style-check-advisory

gnetworkmonitor: Document async initialization
  gio/gnetworkmonitor.c
Due: style-check-advisory

win32: Fix walking UNC searching for helper
  glib/glib-init.h
  glib/gwin32.c
  glib/tests/meson.build
  glib/tests/win32-helper-path.c
Due: style-check-advisory

build: Update the default C standard
  meson.build
Due: none

docs: Update toolchain requirement to C11
  docs/toolchain-requirements.md
Due: none

Revert "build: Add -Wno-typedef-redefinition to CFLAGS"
  meson.build
Due: none

gnetworkmonitornetlink: Read netlink dumps into a fixed-size buffer
  gio/gnetworkmonitornetlink.c
Due: style-check-advisory

gnetworkmonitornetlink: Enlarge netlink socket receive buffers
  gio/gnetworkmonitornetlink.c
Due: style-check-advisory

gnetworkmonitornetlink: Exclude the route cache from the table dump
  gio/gnetworkmonitornetlink.c
Due: style-check-advisory
