Repository GNOME/glib: changes, and which GitLab CI jobs are due for each by the changed paths.
All: style-check-advisory, sh-and-py-check

Path conditions:
  style-check-advisory: any of: **/*.c, **/*.cpp, **/*.h
  sh-and-py-check: any of: **/*.py, **/*.sh

Update Thai translation
  po/th.po
Due: none

Update German translation
  po/de.po
Due: none

gio/tests/pollable.c: Conditionalize on FreeBSD version in the /dev/null test case
  gio/tests/pollable.c
Due: style-check-advisory

gregex: Remove "array length" annotations
  glib/gregex.c
Due: style-check-advisory

gio/gdesktopappinfo: Add precondition assertions
  gio/gdesktopappinfo.c
Due: style-check-advisory

gobject/gclosure: add GTypeInstance support to generic marshaller
  gobject/gclosure.c
  gobject/tests/signals.c
Due: style-check-advisory

gstrfuncs: Add g_set_str_take() helper function
  docs/reference/glib/string-utils.md
  glib/gstrfuncs.h
  glib/tests/strfuncs.c
Due: style-check-advisory

tests: Check that g_markup_escape_text() returns something parseable
  glib/tests/markup-escape.c
Due: style-check-advisory

gdbusauthmechanismsha1: Disable auth mechanism when setuid
  docs/reference/gio/overview.md
  gio/gdbusauthmechanismsha1.c
Due: style-check-advisory

Support XDG_PROJECTS_DIR
  gio/glocalfileinfo.c
  glib/gosxutils.m
  glib/gutils.c
  glib/gutils.h
  glib/gutilsprivate.c
Due: style-check-advisory

Meson: Don't hardcode FFI_STATIC_BUILD / G_INTL_STATIC_COMPILATION
  glib/glibconfig.h.in
  meson.build
Due: none

Add safety documentation regarding use of g_shell_quote()
  gio/gappinfo.c
  glib/gshell.c
  glib/gspawn.c
Due: style-check-advisory

Apply 4 suggestion(s) to 2 file(s)
  glib/gshell.c
  glib/gspawn.c
Due: style-check-advisory

gio: use NSFileManager for trash on macOS
  gio/gio-tool-trash.c
  gio/glocalfile-osx.m
  gio/glocalfile.c
  gio/glocalfile.h
  gio/meson.build
  gio/tests/gio-tool.py
  gio/tests/meson.build
  gio/tests/trash.c
Due: style-check-advisory, sh-and-py-check

gio: suppress deprecated UTI warnings on macOS
  gio/gcontenttype-osx.m
Due: none

strfuncs: add g_set_strv() and g_set_strv_take()
  docs/reference/glib/string-utils.md
  glib/gstrfuncs.h
  glib/tests/strfuncs.c
Due: style-check-advisory

gstrfuncs: fix g_ascii_strtod() underflow docs to match C99/C11
  glib/gstrfuncs.c
  glib/tests/strfuncs.c
Due: style-check-advisory

MSVC CI: Use the 10.0.22621.0 Windows SDK for ARM64
  .gitlab-ci/test-msvc.bat
Due: none

garray: enhance g_array_maybe_expand performance
  glib/garray.c
Due: style-check-advisory

2.89.0
  NEWS
Due: none

win32-build.md: Update Visual Studio build info
  docs/win32-build.md
Due: none

supported-platforms.md: Update Windows info
  docs/supported-platforms.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/supported-platforms.md
Due: none

docs: Update Visual Studio build info
  docs/supported-platforms.md
  docs/win32-build.md
Due: none

Update Romanian translation
  po/ro.po
Due: none

gio/glocalfileinfo: Don't use slow content type for icons when only fast content is queried
  gio/glocalfileinfo.c
Due: style-check-advisory

gio/tests/fileinfo: Add test for icon queries
  gio/tests/g-file-info.c
Due: style-check-advisory

datetime: Add g_set_date_time
  glib/gdatetime.h
  glib/tests/gdatetime.c
Due: style-check-advisory

gio/vsock: add AF_VSOCK socket and address support
  gio/gio-autocleanups.h
  gio/gio.h
  gio/gioenums.h
  gio/giotypes.h
  gio/gnetworkaddress.c
  gio/gsocket.c
  gio/gsocketaddress.c
  gio/gvsocksocketaddress.c
  gio/gvsocksocketaddress.h
  gio/meson.build
  gio/tests/socket-address.c
  gio/tests/socket.c
  glib/glibconfig.h.in
  meson.build
Due: style-check-advisory

Update Slovenian translation
  po/sl.po
Due: none

gdbusmessage: streamline host-order marshalling
  gio/gdbusmessage.c
Due: style-check-advisory

gvariant: avoid locks for serialised accessors
  glib/gvariant-core.c
Due: style-check-advisory

Add missing finish-func annotations
  gio/gfile.c
  gio/giostream.c
Due: style-check-advisory

docs: fix wrong reference to gint16 for gint32 types in glib/types.md
  docs/reference/glib/types.md
Due: none

gdatetime: Clarify docs around comparisons across time zones
  glib/gdatetime.c
  glib/tests/gdatetime.c
Due: style-check-advisory

gdbusmessage: streamline host-order marshalling
  gio/gdbusmessage.c
  gio/tests/gdbus-serialization.c
Due: style-check-advisory

docs: GI annotation fixes for GCancellable
  gio/gcancellable.c
Due: style-check-advisory
